.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.outOfStockClass {
  background-color: #a59496;
  opacity: 0.5;
}

.outOfStockText {
  color: #d71236;
  font-weight: bold;
}
